/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21-Feb-2018, 19:26:24
    Author     : garyl
*/
.navbar{
    min-height:100px;
    margin-bottom: 0;
    background-color:#1a252f!important;
    color:#ffffff;
}
.nav-item{
    color:#ffffff;
}
.navbar-brand{
    color:#ffffff;

}
.navbar-nav a{
    color:#ffffff;
}

.jumbotron{
    padding-top:10em;
    padding-left: 2.5em;
    padding-right:2.5em;
    text-align: center;
}
.jumbotron-dark{
    background-color:#f92222;
    color:#ffffff;
}
.carousel-caption{
    background: rgba(20,20,20,0.8);
}
section{
    padding-top:10px;
    padding-bottom:40px;
    margin:0 0 0 0;
}
.bg-dark{
    background-color:#1a252f;
}
.theme-main{
    background-color: #f92222;
    color: #ffffff;
}
.theme-secondary{
    background-color: #2c3e50;
    color:#ffffff;
}
.text-white{
    color:#ffffff;
}
.footer{
    min-height:100px;
    margin-bottom:0;
    padding-bottom:0;
    background-color: #1a252f;
    color:#ffffff;
}
.profileimage{
    width:250px;
    height:250px;
    border-radius: 50%;
}
.logoskill{
    width:80px;
    height:80px;
    border-radius: 50%;
}
body{
   padding-bottom: 0; margin-bottom:0; height:100%;
} 
html{
    padding-bottom: 0; margin-bottom:0; height:100%;
}
